<h1>Edit an existing task</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label :Details %><br>
  <%= f.text_area :details, size: "70x5", placeholder: "Description of task"  %><br><br>
  <%= f.label :completed %><br>
  <%= f.check_box :completed %><br><br>
  <%= f.submit %>
<% end %>
<br><br>
<%= link_to 'Back to list', '/tasks' %>